<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="daisybrand.forecaster.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="daisybrand.forecaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="daisybrand.forecaster.datastores.Properties.Settings.dbidbConnectionString" connectionString="Data Source=DBIMRCMSRV02;Initial Catalog=dbidb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="daisybrand.forecaster.datastores.Properties.Settings.DAX_PRODConnectionString" connectionString="Data Source=CORESQL01;Initial Catalog=DAX_PROD;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="daisybrand.forecaster.datastores.Properties.Settings.ForecasterConnectionString" connectionString="Data Source=DBIMRCMSRV02;Initial Catalog=forecaster;Integrated Security=True" />
    <add name="dbidbEntities" connectionString="metadata=res://*/DBIMRCMSRV02Entities.csdl|res://*/DBIMRCMSRV02Entities.ssdl|res://*/DBIMRCMSRV02Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBIMRCMSRV02;initial catalog=dbidb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DAX_PRODEntities" connectionString="metadata=res://*/DAX_PRODEntities.csdl|res://*/DAX_PRODEntities.ssdl|res://*/DAX_PRODEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORESQL01;initial catalog=DAX_PROD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ForecasterEntities" connectionString="metadata=res://*/ForecasterEntities.csdl|res://*/ForecasterEntities.ssdl|res://*/ForecasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBIMRCMSRV02;initial catalog=Forecaster;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DaisyDWEntities" connectionString="metadata=res://*/DBIBIZINTELEntities.csdl|res://*/DBIBIZINTELEntities.ssdl|res://*/DBIBIZINTELEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBIBIZINTEL;initial catalog=DaisyDW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="daisybrand.forecaster.Properties.Settings.dbidbConnectionString" connectionString="Data Source=DBIMRCMSRV02;Initial Catalog=dbidb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <daisybrand.forecaster.Properties.Settings>
      <setting name="ERROR" serializeAs="String">
        <value>An error has occurred. Contact system administrator.</value>
      </setting>
    </daisybrand.forecaster.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmailServiceSoap" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NewBinding0" sendTimeout="00:05:00" transferMode="Streamed" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://dbiintranet03/EmailService/emailservice.asmx" binding="basicHttpBinding" bindingConfiguration="EmailServiceSoap" contract="Services.Email.EmailServiceSoap" name="EmailServiceSoap" />
      <endpoint address="net.tcp://coreutilsrv01:15111/AA_Forecaster" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Services.Forecaster.IForecaster" name="NewBinding0">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://coreutilsrv01:15213/Promotions" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Services.Promotions.IForecaster" name="NetTcpBinding_IForecaster">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>